apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-claim
  labels:
      app.kubernetes.io/name: timetable-redis
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
