nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'Timetable', admin_root_path, class: 'navbar-brand'
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item(class='#{'active' if controller_name == 'dashboard'}')
        = link_to 'Home', admin_root_path, class: 'nav-link'
      li.nav-item(class='#{'active' if controller_name == 'organizations'}')
        = link_to 'Organizations', admin_organizations_path, class: 'nav-link'
