<%= link_to 'New Organization', new_admin_organization_path %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, [:admin, organization] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
