.time-view-table tbody tr:first-child td
  border-top: 0

.time-view-navbar
  @extend .navbar.bg-light
  border-top-left-radius: 0.25rem
  border-top-right-radius: 0.25rem

  .nav-link
    border-top-left-radius: 0
    border-top-right-radius: 0

    &:hover
      background-color: rgba(0, 0, 0, 0.075)
      border-color: #bbb

  .nav-item:first-child > .nav-link
    border-left: 0
    border-top-left-radius: 0.25rem

  .nav-item:last-child > .nav-link
    border-right: 0
    border-top-right-radius: 0.25rem

.time-view-nav
  .day_name
    display: block
  .total
    display: block
    font-size: smaller

.seek-time-view-dialog
  padding-left: 0
  padding-right: 0

  .pika-single
    border: 0

    .pika-lendar
      margin-left: 0
      margin-right: 0

  .pika-button
    background-color: transparent
    &:hover
      color: #33aaff
